[package]
name = "edgeware-primitives"
version = "3.0.0"
authors = ["Commonwealth Labs <hello@commonwealth.im>"]
edition = "2018"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { package = "parity-scale-codec", version = "1.3.0", default-features = false, features = ["derive"] }
frame-system = { git = "https://github.com/hicommonwealth/substrate.git", branch = "time-travel", default-features = false }
sp-application-crypto = { git = "https://github.com/hicommonwealth/substrate.git", branch = "time-travel", default-features = false }
sp-core = { git = "https://github.com/hicommonwealth/substrate.git", branch = "time-travel", default-features = false }
sp-runtime = { git = "https://github.com/hicommonwealth/substrate.git", branch = "time-travel", default-features = false }

[dev-dependencies]
sp-serializer = { git = "https://github.com/hicommonwealth/substrate.git", branch = "time-travel" }
pretty_assertions = "0.6.1"

[features]
default = ["std"]
std = [
	"codec/std",
	"frame-system/std",
	"sp-application-crypto/std",
	"sp-core/std",
	"sp-runtime/std",
]